# System files.
*~
.DS_Store

# Maven files.
target

# IntelliJ IDE files.
*.iml
*.ipr
*.iws
*.idea

# Eclispe IDE files.
*.classpath
*.project

# Project files/folders that should be ignored.
catalina.base_IS_UNDEFINED
src/main/webapp/fscf/
target/generated-sources/gwt/fr/fscf/contacts/client/i18n/Constants.java
target/generated-sources/gwt/fr/fscf/contacts/client/i18n/Messages.java
local.properties
environment.properties